# 1. Importing Lib

In [6]:
# Importing Lib
import glob
import pandas as pd
import os
import json

# 2. Reading Data

In [2]:
#Giving Path of the data.
path = 'G:/SPU/670/670_Capstone_Project/src/data/row_data'

In [3]:
# Reading CSV files from the given path.
csv_files = glob.glob(os.path.join(path,'*.csv'))
csv_files

['G:/SPU/670/Capstone_Project/Capstone/data/row_data\\1502369_27.76_-98.23_2018.csv',
 'G:/SPU/670/Capstone_Project/Capstone/data/row_data\\1502369_27.76_-98.23_2019.csv',
 'G:/SPU/670/Capstone_Project/Capstone/data/row_data\\1502369_27.76_-98.23_2020.csv',
 'G:/SPU/670/Capstone_Project/Capstone/data/row_data\\1502369_27.76_-98.23_2021.csv']

In [8]:
# Concating all files into one file.
df_header_details = pd.read_csv(csv_files[0])
df_meta_data_details = df_header_details.head(1)

In [9]:
dict_meta_data_details = df_meta_data_details.to_dict(orient='records')

with open('config.json', 'w') as json_file:
    json.dump(dict_meta_data_details, json_file)

In [ ]:
with open('config.json') as json_file:
    details = json.load(json_file)

print(json.dumps(details, indent = 2))

## 2.1 Reading Multiple file and Concatinating into one df.

In [4]:
# Concating all files into one file.
csv_concat = pd.concat([pd.read_csv(file, skiprows=1, header=1) for file in csv_files ], ignore_index=True)
csv_concat

,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Clearsky DHI,Clearsky DNI,...,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,2018,1,1,0,30,0,0,0,0,0,...,-4.3,175.02,0,0.16,6.2,2.5,12,62.39,2.2,1023
1,2018,1,1,1,30,0,0,0,0,0,...,-5.2,167.00,0,0.16,6.1,2.4,11,60.74,1.6,1023
2,2018,1,1,2,30,0,0,0,0,0,...,-6.0,153.97,0,0.16,6.0,2.4,10,59.31,1.1,1024
3,2018,1,1,3,30,0,0,0,0,0,...,-6.6,140.70,0,0.16,5.9,2.5,11,58.34,0.7,1024
4,2018,1,1,4,30,0,0,0,0,0,...,-6.8,127.51,0,0.16,6.0,2.5,11,58.72,0.3,1024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,2021,12,31,19,30,0,0,0,0,0,...,-1.0,111.77,0,0.16,6.7,1.3,282,63.77,5.3,1002
35036,2021,12,31,20,30,0,0,0,0,0,...,-0.7,124.71,0,0.16,6.3,1.4,283,68.14,4.7,1002
35037,2021,12,31,21,30,0,0,0,0,0,...,-0.4,137.87,0,0.16,5.9,1.4,284,71.04,4.4,1002
35038,2021,12,31,22,30,0,0,0,0,0,...,-0.2,151.12,0,0.16,5.5,1.4,283,72.88,4.2,1002
35039,2021,12,31,23,30,0,0,0,0,0,...,-0.1,164.26,0,0.16,4.9,1.3,283,73.90,4.1,1003

## 2.2 Save the Concanited DF as a new CSV File.
 we do not have to perform concatination step multiple time until we adding new data.

In [5]:
# Save Concat data frame into one CSV file.
csv_concat.to_csv('data/updated_data/solar_radiation_2018_to_2021_01.csv', index=False)

In [6]:
# Read the Concated CSV File.
# solar_file = pd.read_csv('data/solar_radiation_2018_to_2021_01.csv', header=1)
solar_file = pd.read_csv('data/updated_data/solar_radiation_2018_to_2021_01.csv')
solar_file

,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Clearsky DHI,Clearsky DNI,...,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,2018,1,1,0,30,0,0,0,0,0,...,-4.3,175.02,0,0.16,6.2,2.5,12,62.39,2.2,1023
1,2018,1,1,1,30,0,0,0,0,0,...,-5.2,167.00,0,0.16,6.1,2.4,11,60.74,1.6,1023
2,2018,1,1,2,30,0,0,0,0,0,...,-6.0,153.97,0,0.16,6.0,2.4,10,59.31,1.1,1024
3,2018,1,1,3,30,0,0,0,0,0,...,-6.6,140.70,0,0.16,5.9,2.5,11,58.34,0.7,1024
4,2018,1,1,4,30,0,0,0,0,0,...,-6.8,127.51,0,0.16,6.0,2.5,11,58.72,0.3,1024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,2021,12,31,19,30,0,0,0,0,0,...,-1.0,111.77,0,0.16,6.7,1.3,282,63.77,5.3,1002
35036,2021,12,31,20,30,0,0,0,0,0,...,-0.7,124.71,0,0.16,6.3,1.4,283,68.14,4.7,1002
35037,2021,12,31,21,30,0,0,0,0,0,...,-0.4,137.87,0,0.16,5.9,1.4,284,71.04,4.4,1002
35038,2021,12,31,22,30,0,0,0,0,0,...,-0.2,151.12,0,0.16,5.5,1.4,283,72.88,4.2,1002
35039,2021,12,31,23,30,0,0,0,0,0,...,-0.1,164.26,0,0.16,4.9,1.3,283,73.90,4.1,1003

# 3. Data Preprocessing and Data Cleaning

In [7]:
# Printing Columns Names
solar_file.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Minute', 'DHI', 'DNI', 'GHI',
       'Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI', 'Cloud Type',
       'Dew Point', 'Solar Zenith Angle', 'Fill Flag', 'Surface Albedo',
       'Wind Speed', 'Precipitable Water', 'Wind Direction',
       'Relative Humidity', 'Temperature', 'Pressure'],
      dtype='object')

## 3.1 create new TimeStame Column using Year, Month, Day, Hours, and Minute.

In [8]:
# Create new Column TimeStamps using Year,month,day,hour and minute coulumn and drop that column.
solar_file['TimeStamp'] = pd.to_datetime(solar_file[['Year','Month','Day','Hour','Minute']])
solar_file.drop(['Year','Month','Day','Hour','Minute'], inplace=True, axis=1)
solar_file

,DHI,DNI,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure,TimeStamp
0,0,0,0,0,0,0,4,-4.3,175.02,0,0.16,6.2,2.5,12,62.39,2.2,1023,2018-01-01 00:30:00
1,0,0,0,0,0,0,0,-5.2,167.00,0,0.16,6.1,2.4,11,60.74,1.6,1023,2018-01-01 01:30:00
2,0,0,0,0,0,0,4,-6.0,153.97,0,0.16,6.0,2.4,10,59.31,1.1,1024,2018-01-01 02:30:00
3,0,0,0,0,0,0,0,-6.6,140.70,0,0.16,5.9,2.5,11,58.34,0.7,1024,2018-01-01 03:30:00
4,0,0,0,0,0,0,4,-6.8,127.51,0,0.16,6.0,2.5,11,58.72,0.3,1024,2018-01-01 04:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,0,0,0,0,0,0,0,-1.0,111.77,0,0.16,6.7,1.3,282,63.77,5.3,1002,2021-12-31 19:30:00
35036,0,0,0,0,0,0,0,-0.7,124.71,0,0.16,6.3,1.4,283,68.14,4.7,1002,2021-12-31 20:30:00
35037,0,0,0,0,0,0,0,-0.4,137.87,0,0.16,5.9,1.4,284,71.04,4.4,1002,2021-12-31 21:30:00
35038,0,0,0,0,0,0,0,-0.2,151.12,0,0.16,5.5,1.4,283,72.88,4.2,1002,2021-12-31 22:30:00
35039,0,0,0,0,0,0,0,-0.1,164.26,0,0.16,4.9,1.3,283,73.90,4.1,1003,2021-12-31 23:30:00

Moving TimeStamp Column to the first place.

insert column using insert(position,column_name,first_column) function

In [9]:
first_column = solar_file.pop('TimeStamp')

solar_file.insert(0, 'TimeStamp', first_column)
solar_file

,TimeStamp,DHI,DNI,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,2018-01-01 00:30:00,0,0,0,0,0,0,4,-4.3,175.02,0,0.16,6.2,2.5,12,62.39,2.2,1023
1,2018-01-01 01:30:00,0,0,0,0,0,0,0,-5.2,167.00,0,0.16,6.1,2.4,11,60.74,1.6,1023
2,2018-01-01 02:30:00,0,0,0,0,0,0,4,-6.0,153.97,0,0.16,6.0,2.4,10,59.31,1.1,1024
3,2018-01-01 03:30:00,0,0,0,0,0,0,0,-6.6,140.70,0,0.16,5.9,2.5,11,58.34,0.7,1024
4,2018-01-01 04:30:00,0,0,0,0,0,0,4,-6.8,127.51,0,0.16,6.0,2.5,11,58.72,0.3,1024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,2021-12-31 19:30:00,0,0,0,0,0,0,0,-1.0,111.77,0,0.16,6.7,1.3,282,63.77,5.3,1002
35036,2021-12-31 20:30:00,0,0,0,0,0,0,0,-0.7,124.71,0,0.16,6.3,1.4,283,68.14,4.7,1002
35037,2021-12-31 21:30:00,0,0,0,0,0,0,0,-0.4,137.87,0,0.16,5.9,1.4,284,71.04,4.4,1002
35038,2021-12-31 22:30:00,0,0,0,0,0,0,0,-0.2,151.12,0,0.16,5.5,1.4,283,72.88,4.2,1002
35039,2021-12-31 23:30:00,0,0,0,0,0,0,0,-0.1,164.26,0,0.16,4.9,1.3,283,73.90,4.1,1003

Checking For the NULL Data.

In [14]:
solar_file.isna().sum()

TimeStamp             0
DHI                   0
DNI                   0
GHI                   0
Clearsky DHI          0
Clearsky DNI          0
Clearsky GHI          0
Cloud Type            0
Dew Point             0
Solar Zenith Angle    0
Fill Flag             0
Surface Albedo        0
Wind Speed            0
Precipitable Water    0
Wind Direction        0
Relative Humidity     0
Temperature           0
Pressure              0
dtype: int64

Checking for the duplicate Data

In [15]:
solar_file.duplicated().sum()

0

In [16]:
solar_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35040 entries, 0 to 35039
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TimeStamp           35040 non-null  datetime64[ns]
 1   DHI                 35040 non-null  int64
 2   DNI                 35040 non-null  int64
 3   GHI                 35040 non-null  int64
 4   Clearsky DHI        35040 non-null  int64
 5   Clearsky DNI        35040 non-null  int64
 6   Clearsky GHI        35040 non-null  int64
 7   Cloud Type          35040 non-null  int64
 8   Dew Point           35040 non-null  float64
 9   Solar Zenith Angle  35040 non-null  float64
 10  Fill Flag           35040 non-null  int64
 11  Surface Albedo      35040 non-null  float64
 12  Wind Speed          35040 non-null  float64
 13  Precipitable Water  35040 non-null  float64
 14  Wind Direction      35040 non-null  int64
 15  Relative Humidity   35040 non-null  float64
 16  Temperature         35040 non-null  float64
 17  Pressure            35040 non-null  int64
dtypes: datetime64[ns](1), float64(7), int64(10)
memory usage: 4.8 MB

In [17]:
solar_file.nunique()

TimeStamp             35040
DHI                     504
DNI                    1027
GHI                    1041
Clearsky DHI            341
Clearsky DNI           1022
Clearsky GHI           1037
Cloud Type               10
Dew Point               408
Solar Zenith Angle    14025
Fill Flag                 5
Surface Albedo            5
Wind Speed              105
Precipitable Water       71
Wind Direction          361
Relative Humidity      7652
Temperature             468
Pressure                 45
dtype: int64

## 3.2 Drop Null Data
Use to Clean Data Befor when we are facing issue realted to Two Header.

In [10]:
# Checking for the null column and droping it.
solar_file.dropna(axis=1, inplace=True)
solar_file

,TimeStamp,DHI,DNI,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,2018-01-01 00:30:00,0,0,0,0,0,0,4,-4.3,175.02,0,0.16,6.2,2.5,12,62.39,2.2,1023
1,2018-01-01 01:30:00,0,0,0,0,0,0,0,-5.2,167.00,0,0.16,6.1,2.4,11,60.74,1.6,1023
2,2018-01-01 02:30:00,0,0,0,0,0,0,4,-6.0,153.97,0,0.16,6.0,2.4,10,59.31,1.1,1024
3,2018-01-01 03:30:00,0,0,0,0,0,0,0,-6.6,140.70,0,0.16,5.9,2.5,11,58.34,0.7,1024
4,2018-01-01 04:30:00,0,0,0,0,0,0,4,-6.8,127.51,0,0.16,6.0,2.5,11,58.72,0.3,1024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,2021-12-31 19:30:00,0,0,0,0,0,0,0,-1.0,111.77,0,0.16,6.7,1.3,282,63.77,5.3,1002
35036,2021-12-31 20:30:00,0,0,0,0,0,0,0,-0.7,124.71,0,0.16,6.3,1.4,283,68.14,4.7,1002
35037,2021-12-31 21:30:00,0,0,0,0,0,0,0,-0.4,137.87,0,0.16,5.9,1.4,284,71.04,4.4,1002
35038,2021-12-31 22:30:00,0,0,0,0,0,0,0,-0.2,151.12,0,0.16,5.5,1.4,283,72.88,4.2,1002
35039,2021-12-31 23:30:00,0,0,0,0,0,0,0,-0.1,164.26,0,0.16,4.9,1.3,283,73.90,4.1,1003

In [11]:
# saving to new csv file after droping.
solar_file.to_csv('data/updated_data/final_solar.csv', index=False)

In [12]:
df_solar = pd.read_csv('data/updated_data/final_solar.csv')

In [13]:
df_solar

,TimeStamp,DHI,DNI,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,2018-01-01 00:30:00,0,0,0,0,0,0,4,-4.3,175.02,0,0.16,6.2,2.5,12,62.39,2.2,1023
1,2018-01-01 01:30:00,0,0,0,0,0,0,0,-5.2,167.00,0,0.16,6.1,2.4,11,60.74,1.6,1023
2,2018-01-01 02:30:00,0,0,0,0,0,0,4,-6.0,153.97,0,0.16,6.0,2.4,10,59.31,1.1,1024
3,2018-01-01 03:30:00,0,0,0,0,0,0,0,-6.6,140.70,0,0.16,5.9,2.5,11,58.34,0.7,1024
4,2018-01-01 04:30:00,0,0,0,0,0,0,4,-6.8,127.51,0,0.16,6.0,2.5,11,58.72,0.3,1024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,2021-12-31 19:30:00,0,0,0,0,0,0,0,-1.0,111.77,0,0.16,6.7,1.3,282,63.77,5.3,1002
35036,2021-12-31 20:30:00,0,0,0,0,0,0,0,-0.7,124.71,0,0.16,6.3,1.4,283,68.14,4.7,1002
35037,2021-12-31 21:30:00,0,0,0,0,0,0,0,-0.4,137.87,0,0.16,5.9,1.4,284,71.04,4.4,1002
35038,2021-12-31 22:30:00,0,0,0,0,0,0,0,-0.2,151.12,0,0.16,5.5,1.4,283,72.88,4.2,1002
35039,2021-12-31 23:30:00,0,0,0,0,0,0,0,-0.1,164.26,0,0.16,4.9,1.3,283,73.90,4.1,1003