# 1. Importing Lib

In [3]:
# Importing Lib
import glob
import pandas as pd
import os
import json
import os.path
import numpy as np

# Checking working derectory.

In [1]:
pwd

'g:\\SPU\\670\\670_Capstone_Project\\src'

# 2. Reading Data

In [4]:
#Giving Path of the data.

path = 'data\\raw_api_data'
path_location_details = path + '\\**\\'
print(path)
print(os.path.join(path_location_details,'*.csv'))

data\raw_api_data
data\raw_api_data\**\*.csv

In [5]:
# Reading CSV files from the given path.
csv_files = glob.glob(os.path.join(path_location_details,'*.csv'))
len(csv_files)

60

## Creating new json file for the header Each region wise.
# Collecting each location details and storing into json file.

In [6]:
# Concating all files into one file.
for file in csv_files:
    sz = os.path.getsize(file)
    if sz > 1000:
        # foldersName = ' '.join(file.split('\\')[:-1])
        foldersName = file[:file.rfind('\\')]
        # print(foldersName)
        location_details_path = f'{foldersName}\location_Details.json'
        is_exists = os.path.exists(location_details_path)
        # print(is_exists)
        if not is_exists:
            
            # print(f'In side the condition : {is_exists}')
            reading_header = pd.read_csv(file).head(1)
            dict_meta_data_details = reading_header.to_dict(orient='records')
            # print(location_details_path)
            with open(location_details_path, 'w') as json_file:
                json.dump(dict_meta_data_details, json_file)

## 2.1 Reading Multiple file and Concatinating into one df.

In [7]:

for file in os.listdir(path):
    region_path = os.path.join(path, file)
    if os.path.isdir(region_path):
        # print(region_path)
        location_details_path = f'{region_path}\location_Details.json'
        is_exists = os.path.exists(location_details_path)
        if is_exists:
            region_csv_files = glob.glob(os.path.join(region_path,'*.csv'))
            for concate in region_csv_files:
                 if "_concat.csv" in concate:
                    region_csv_files.remove(concate)
                    print(concate)

            region_csv_concat = pd.concat([pd.read_csv(file, skiprows=1, header=1) for file in region_csv_files ], ignore_index=True)
            concat_file_name = region_path[region_path.rfind('\\'):]
            concat_file_name = (f"{region_path}/{concat_file_name[1:]}_concat.csv")
            print(region_csv_concat)
            region_csv_concat.to_csv(concat_file_name, index=False)

data\raw_api_data\Buffalo, New York, United States\Buffalo, New York, United States_concat.csv
       Year  Month  Day  Hour  Minute  Temperature  Clearsky DHI  \
0      2016      1    1     0      30          0.0             0
1      2016      1    1     1      30          0.0             0
2      2016      1    1     2      30          0.0             0
3      2016      1    1     3      30          0.0             0
4      2016      1    1     4      30         -1.0             0
...     ...    ...  ...   ...     ...          ...           ...
43795  2020     12   31    19      30         -0.7             0
43796  2020     12   31    20      30         -0.7             0
43797  2020     12   31    21      30         -0.8             0
43798  2020     12   31    22      30         -1.0             0
43799  2020     12   31    23      30         -1.2             0

       Clearsky DNI  Clearsky GHI  Cloud Type  ...  Unnamed: 36  Unnamed: 37  \
0                 0             0           4  ...          NaN          NaN
1                 0             0           4  ...          NaN          NaN
2                 0             0           4  ...          NaN          NaN
3                 0             0           4  ...          NaN          NaN
4                 0             0           4  ...          NaN          NaN
...             ...           ...         ...  ...          ...          ...
43795             0             0           4  ...          NaN          NaN
43796             0             0           4  ...          NaN          NaN
43797             0             0           4  ...          NaN          NaN
43798             0             0           4  ...          NaN          NaN
43799             0             0           4  ...          NaN          NaN

       Unnamed: 38  Unnamed: 39  Unnamed: 40  Unnamed: 41  Unnamed: 42  \
0              NaN          NaN          NaN          NaN          NaN
1              NaN          NaN          NaN          NaN          NaN
2              NaN          NaN          NaN          NaN          NaN
3              NaN          NaN          NaN          NaN          NaN
4              NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
43795          NaN          NaN          NaN          NaN          NaN
43796          NaN          NaN          NaN          NaN          NaN
43797          NaN          NaN          NaN          NaN          NaN
43798          NaN          NaN          NaN          NaN          NaN
43799          NaN          NaN          NaN          NaN          NaN

       Unnamed: 43  Unnamed: 44  Unnamed: 45
0              NaN          NaN          NaN
1              NaN          NaN          NaN
2              NaN          NaN          NaN
3              NaN          NaN          NaN
4              NaN          NaN          NaN
...            ...          ...          ...
43795          NaN          NaN          NaN
43796          NaN          NaN          NaN
43797          NaN          NaN          NaN
43798          NaN          NaN          NaN
43799          NaN          NaN          NaN

[43800 rows x 46 columns]
data\raw_api_data\Colorado Springs, Colorado, United States\Colorado Springs, Colorado, United States_concat.csv
       Year  Month  Day  Hour  Minute  Temperature  Clearsky DHI  \
0      2016      1    1     0      30        -10.0             0
1      2016      1    1     1      30        -10.0             0
2      2016      1    1     2      30        -11.0             0
3      2016      1    1     3      30        -11.0             0
4      2016      1    1     4      30        -12.0             0
...     ...    ...  ...   ...     ...          ...           ...
43795  2020     12   31    19      30         -3.2             0
43796  2020     12   31    20      30         -3.5             0
43797  2020     12   31    21      30         -3.5             0
43798  2020     12   31    22      30         -3.2             0
43799  2020     12   31    23      30         -2.8             0

       Clearsky DNI  Clearsky GHI  Cloud Type  ...  Unnamed: 36  Unnamed: 37  \
0                 0             0           1  ...          NaN          NaN
1                 0             0           1  ...          NaN          NaN
2                 0             0           1  ...          NaN          NaN
3                 0             0           1  ...          NaN          NaN
4                 0             0           0  ...          NaN          NaN
...             ...           ...         ...  ...          ...          ...
43795             0             0           0  ...          NaN          NaN
43796             0             0           0  ...          NaN          NaN
43797             0             0           0  ...          NaN          NaN
43798             0             0           0  ...          NaN          NaN
43799             0             0           0  ...          NaN          NaN

       Unnamed: 38  Unnamed: 39  Unnamed: 40  Unnamed: 41  Unnamed: 42  \
0              NaN          NaN          NaN          NaN          NaN
1              NaN          NaN          NaN          NaN          NaN
2              NaN          NaN          NaN          NaN          NaN
3              NaN          NaN          NaN          NaN          NaN
4              NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
43795          NaN          NaN          NaN          NaN          NaN
43796          NaN          NaN          NaN          NaN          NaN
43797          NaN          NaN          NaN          NaN          NaN
43798          NaN          NaN          NaN          NaN          NaN
43799          NaN          NaN          NaN          NaN          NaN

       Unnamed: 43  Unnamed: 44  Unnamed: 45
0              NaN          NaN          NaN
1              NaN          NaN          NaN
2              NaN          NaN          NaN
3              NaN          NaN          NaN
4              NaN          NaN          NaN
...            ...          ...          ...
43795          NaN          NaN          NaN
43796          NaN          NaN          NaN
43797          NaN          NaN          NaN
43798          NaN          NaN          NaN
43799          NaN          NaN          NaN

[43800 rows x 46 columns]
data\raw_api_data\East_virginia_Richmond\East_virginia_Richmond_concat.csv
       Year  Month  Day  Hour  Minute  Temperature  Clearsky DHI  \
0      2016      1    1     0      30          7.0             0
1      2016      1    1     1      30          6.0             0
2      2016      1    1     2      30          5.0             0
3      2016      1    1     3      30          5.0             0
4      2016      1    1     4      30          4.0             0
...     ...    ...  ...   ...     ...          ...           ...
43795  2020     12   31    19      30          5.9             0
43796  2020     12   31    20      30          5.3             0
43797  2020     12   31    21      30          4.4             0
43798  2020     12   31    22      30          3.6             0
43799  2020     12   31    23      30          3.0             0

       Clearsky DNI  Clearsky GHI  Cloud Type  ...  Unnamed: 36  Unnamed: 37  \
0                 0             0           8  ...          NaN          NaN
1                 0             0           8  ...          NaN          NaN
2                 0             0           8  ...          NaN          NaN
3                 0             0           8  ...          NaN          NaN
4                 0             0           8  ...          NaN          NaN
...             ...           ...         ...  ...          ...          ...
43795             0             0           0  ...          NaN          NaN
43796             0             0           0  ...          NaN          NaN
43797             0             0           0  ...          NaN          NaN
43798             0             0           0  ...          NaN          NaN
43799             0             0           0  ...          NaN          NaN

       Unnamed: 38  Unnamed: 39  Unnamed: 40  Unnamed: 41  Unnamed: 42  \
0              NaN          NaN          NaN          NaN          NaN
1              NaN          NaN          NaN          NaN          NaN
2              NaN          NaN          NaN          NaN          NaN
3              NaN          NaN          NaN          NaN          NaN
4              NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
43795          NaN          NaN          NaN          NaN          NaN
43796          NaN          NaN          NaN          NaN          NaN
43797          NaN          NaN          NaN          NaN          NaN
43798          NaN          NaN          NaN          NaN          NaN
43799          NaN          NaN          NaN          NaN          NaN

       Unnamed: 43  Unnamed: 44  Unnamed: 45
0              NaN          NaN          NaN
1              NaN          NaN          NaN
2              NaN          NaN          NaN
3              NaN          NaN          NaN
4              NaN          NaN          NaN
...            ...          ...          ...
43795          NaN          NaN          NaN
43796          NaN          NaN          NaN
43797          NaN          NaN          NaN
43798          NaN          NaN          NaN
43799          NaN          NaN          NaN

[43800 rows x 46 columns]
data\raw_api_data\Florida, Florida, United States\Florida, Florida, United States_concat.csv
       Year  Month  Day  Hour  Minute  Temperature  Clearsky DHI  \
0      2016      1    1     0      30         23.0             0
1      2016      1    1     1      30         23.0             0
2      2016      1    1     2      30         23.0             0
3      2016      1    1     3      30         23.0             0
4      2016      1    1     4      30         22.0             0
...     ...    ...  ...   ...     ...          ...           ...
43795  2020     12   31    19      30         19.4             0
43796  2020     12   31    20      30         19.1             0
43797  2020     12   31    21      30         18.7             0
43798  2020     12   31    22      30         18.3             0
43799  2020     12   31    23      30         18.0             0

       Clearsky DNI  Clearsky GHI  Cloud Type  ...  Unnamed: 36  Unnamed: 37  \
0                 0             0           0  ...          NaN          NaN
1                 0             0           1  ...          NaN          NaN
2                 0             0           8  ...          NaN          NaN
3                 0             0           8  ...          NaN          NaN
4                 0             0           8  ...          NaN          NaN
...             ...           ...         ...  ...          ...          ...
43795             0             0           0  ...          NaN          NaN
43796             0             0           0  ...          NaN          NaN
43797             0             0           0  ...          NaN          NaN
43798             0             0           0  ...          NaN          NaN
43799             0             0           0  ...          NaN          NaN

       Unnamed: 38  Unnamed: 39  Unnamed: 40  Unnamed: 41  Unnamed: 42  \
0              NaN          NaN          NaN          NaN          NaN
1              NaN          NaN          NaN          NaN          NaN
2              NaN          NaN          NaN          NaN          NaN
3              NaN          NaN          NaN          NaN          NaN
4              NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
43795          NaN          NaN          NaN          NaN          NaN
43796          NaN          NaN          NaN          NaN          NaN
43797          NaN          NaN          NaN          NaN          NaN
43798          NaN          NaN          NaN          NaN          NaN
43799          NaN          NaN          NaN          NaN          NaN

       Unnamed: 43  Unnamed: 44  Unnamed: 45
0              NaN          NaN          NaN
1              NaN          NaN          NaN
2              NaN          NaN          NaN
3              NaN          NaN          NaN
4              NaN          NaN          NaN
...            ...          ...          ...
43795          NaN          NaN          NaN
43796          NaN          NaN          NaN
43797          NaN          NaN          NaN
43798          NaN          NaN          NaN
43799          NaN          NaN          NaN

[43800 rows x 46 columns]
data\raw_api_data\Jersey City, New Jersey, United States\Jersey City, New Jersey, United States_concat.csv
       Year  Month  Day  Hour  Minute  Temperature  Clearsky DHI  \
0      2016      1    1     0      30          2.0             0
1      2016      1    1     1      30          2.0             0
2      2016      1    1     2      30          2.0             0
3      2016      1    1     3      30          2.0             0
4      2016      1    1     4      30          2.0             0
...     ...    ...  ...   ...     ...          ...           ...
43795  2020     12   31    19      30          4.0             0
43796  2020     12   31    20      30          3.9             0
43797  2020     12   31    21      30          3.4             0
43798  2020     12   31    22      30          2.6             0
43799  2020     12   31    23      30          1.9             0

       Clearsky DNI  Clearsky GHI  Cloud Type  ...  Unnamed: 36  Unnamed: 37  \
0                 0             0           8  ...          NaN          NaN
1                 0             0           8  ...          NaN          NaN
2                 0             0           8  ...          NaN          NaN
3                 0             0           8  ...          NaN          NaN
4                 0             0           8  ...          NaN          NaN
...             ...           ...         ...  ...          ...          ...
43795             0             0           4  ...          NaN          NaN
43796             0             0           4  ...          NaN          NaN
43797             0             0           4  ...          NaN          NaN
43798             0             0           4  ...          NaN          NaN
43799             0             0           4  ...          NaN          NaN

       Unnamed: 38  Unnamed: 39  Unnamed: 40  Unnamed: 41  Unnamed: 42  \
0              NaN          NaN          NaN          NaN          NaN
1              NaN          NaN          NaN          NaN          NaN
2              NaN          NaN          NaN          NaN          NaN
3              NaN          NaN          NaN          NaN          NaN
4              NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
43795          NaN          NaN          NaN          NaN          NaN
43796          NaN          NaN          NaN          NaN          NaN
43797          NaN          NaN          NaN          NaN          NaN
43798          NaN          NaN          NaN          NaN          NaN
43799          NaN          NaN          NaN          NaN          NaN

       Unnamed: 43  Unnamed: 44  Unnamed: 45
0              NaN          NaN          NaN
1              NaN          NaN          NaN
2              NaN          NaN          NaN
3              NaN          NaN          NaN
4              NaN          NaN          NaN
...            ...          ...          ...
43795          NaN          NaN          NaN
43796          NaN          NaN          NaN
43797          NaN          NaN          NaN
43798          NaN          NaN          NaN
43799          NaN          NaN          NaN

[43800 rows x 46 columns]
data\raw_api_data\Los Angeles, California, United States\Los Angeles, California, United States_concat.csv
       Year  Month  Day  Hour  Minute  Temperature  Clearsky DHI  \
0      2016      1    1     0      30          5.0             0
1      2016      1    1     1      30          5.0             0
2      2016      1    1     2      30          5.0             0
3      2016      1    1     3      30          5.0             0
4      2016      1    1     4      30          5.0             0
...     ...    ...  ...   ...     ...          ...           ...
43795  2020     12   31    19      30         11.0             0
43796  2020     12   31    20      30         10.3             0
43797  2020     12   31    21      30          9.8             0
43798  2020     12   31    22      30          9.4             0
43799  2020     12   31    23      30          9.0             0

       Clearsky DNI  Clearsky GHI  Cloud Type  ...  Unnamed: 36  Unnamed: 37  \
0                 0             0           0  ...          NaN          NaN
1                 0             0           0  ...          NaN          NaN
2                 0             0           0  ...          NaN          NaN
3                 0             0           0  ...          NaN          NaN
4                 0             0           0  ...          NaN          NaN
...             ...           ...         ...  ...          ...          ...
43795             0             0           0  ...          NaN          NaN
43796             0             0           0  ...          NaN          NaN
43797             0             0           0  ...          NaN          NaN
43798             0             0           0  ...          NaN          NaN
43799             0             0           0  ...          NaN          NaN

       Unnamed: 38  Unnamed: 39  Unnamed: 40  Unnamed: 41  Unnamed: 42  \
0              NaN          NaN          NaN          NaN          NaN
1              NaN          NaN          NaN          NaN          NaN
2              NaN          NaN          NaN          NaN          NaN
3              NaN          NaN          NaN          NaN          NaN
4              NaN          NaN          NaN          NaN          NaN
...            ...          ...          ...          ...          ...
43795          NaN          NaN          NaN          NaN          NaN
43796          NaN          NaN          NaN          NaN          NaN
43797          NaN          NaN          NaN          NaN          NaN
43798          NaN          NaN          NaN          NaN          NaN
43799          NaN          NaN          NaN          NaN          NaN

       Unnamed: 43  Unnamed: 44  Unnamed: 45
0              NaN          NaN          NaN
1              NaN          NaN          NaN
2              NaN          NaN          NaN
3              NaN          NaN          NaN
4              NaN          NaN          NaN
...            ...          ...          ...
43795          NaN          NaN          NaN
43796          NaN          NaN          NaN
43797          NaN          NaN          NaN
43798          NaN          NaN          NaN
43799          NaN          NaN          NaN

[43800 rows x 46 columns]
data\raw_api_data\North_New Jersey_Trenton\North_New Jersey_Trenton_concat.csv
       Year  Month  Day  Hour  Minute  Temperature  Clearsky DHI  \
0      2016      1    1     0      30          2.0             0
1      2016      1    1     1      30          2.0             0
2      2016      1    1     2      30          2.0             0
3      2016      1    1     3      30          1.0             0
4      2016      1    1     4      30          1.0             0
...     ...    ...  ...   ...     ...          ...           ...

## Geting Concat file name for skiping while concat process.

In [9]:
def read_json(file_path):
    with open(file_path, "r") as f:
        return json.load(f)

In [10]:
concat_solar_frame = []
for file in os.listdir(path):
    region_path = os.path.join(path, file)
    region_csv_concat_details = glob.glob(os.path.join(region_path,'*_concat.csv'))
    region_json_concat_details = glob.glob(os.path.join(region_path,'*.json'))
    location_Details = read_json(region_json_concat_details[0])
    location_Details = location_Details[0]
    df_region = pd.read_csv(region_csv_concat_details[0])
    df_region['longitude'] = location_Details["Longitude"]
    df_region['latitude'] = location_Details["Latitude"]
    concat_solar_frame.append(df_region)
    
concate_frame_details = pd.concat(concat_solar_frame)


#region_csv_concat_details = glob.glob(os.path.join(region_path,'*_concat.csv'))

In [11]:
concate_frame_details

,Year,Month,Day,Hour,Minute,Temperature,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,...,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,longitude,latitude
0,2016,1,1,0,30,0.0,0,0,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-78.86,42.89
1,2016,1,1,1,30,0.0,0,0,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-78.86,42.89
2,2016,1,1,2,30,0.0,0,0,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-78.86,42.89
3,2016,1,1,3,30,0.0,0,0,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-78.86,42.89
4,2016,1,1,4,30,-1.0,0,0,0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-78.86,42.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43795,2020,12,31,19,30,8.4,0,0,0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-121.5,38.57
43796,2020,12,31,20,30,8.0,0,0,0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-121.5,38.57
43797,2020,12,31,21,30,7.8,0,0,0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-121.5,38.57
43798,2020,12,31,22,30,8.1,0,0,0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-121.5,38.57
43799,2020,12,31,23,30,8.3,0,0,0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-121.5,38.57

In [12]:
concate_frame_details.isna().sum()

Year                                                0
Month                                               0
Day                                                 0
Hour                                                0
Minute                                              0
Temperature                                         0
Clearsky DHI                                        0
Clearsky DNI                                        0
Clearsky GHI                                        0
Cloud Type                                          0
Dew Point                                           0
DHI                                                 0
DNI                                                 0
Fill Flag                                           0
GHI                                                 0
Relative Humidity                                   0
Solar Zenith Angle                                  0
Surface Albedo                                      0
Pressure                                            0
Precipitable Water                                  0
Wind Direction                                      0
Wind Speed                                          0
Global Horizontal UV Irradiance (280-400nm)         0
Global Horizontal UV Irradiance (295-385nm)         0
Unnamed: 24                                    438000
Unnamed: 25                                    438000
Unnamed: 26                                    438000
Unnamed: 27                                    438000
Unnamed: 28                                    438000
Unnamed: 29                                    438000
Unnamed: 30                                    438000
Unnamed: 31                                    438000
Unnamed: 32                                    438000
Unnamed: 33                                    438000
Unnamed: 34                                    438000
Unnamed: 35                                    438000
Unnamed: 36                                    438000
Unnamed: 37                                    438000
Unnamed: 38                                    438000
Unnamed: 39                                    438000
Unnamed: 40                                    438000
Unnamed: 41                                    438000
Unnamed: 42                                    438000
Unnamed: 43                                    438000
Unnamed: 44                                    438000
Unnamed: 45                                    438000
longitude                                           0
latitude                                            0
dtype: int64

In [13]:
concate_frame_details.dropna(axis=1, inplace=True)
concate_frame_details

,Year,Month,Day,Hour,Minute,Temperature,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,...,Solar Zenith Angle,Surface Albedo,Pressure,Precipitable Water,Wind Direction,Wind Speed,Global Horizontal UV Irradiance (280-400nm),Global Horizontal UV Irradiance (295-385nm),longitude,latitude
0,2016,1,1,0,30,0.0,0,0,0,4,...,160.01,0.866,990,0.808,259.2,3.6,0.0,0.0,-78.86,42.89
1,2016,1,1,1,30,0.0,0,0,0,4,...,155.25,0.866,990,0.768,260.1,3.7,0.0,0.0,-78.86,42.89
2,2016,1,1,2,30,0.0,0,0,0,4,...,146.39,0.866,990,0.722,260.9,3.7,0.0,0.0,-78.86,42.89
3,2016,1,1,3,30,0.0,0,0,0,4,...,135.97,0.866,990,0.672,261.7,3.7,0.0,0.0,-78.86,42.89
4,2016,1,1,4,30,-1.0,0,0,0,4,...,125.04,0.866,990,0.633,261.9,3.7,0.0,0.0,-78.86,42.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43795,2020,12,31,19,30,8.4,0,0,0,7,...,119.53,0.120,1014,1.100,148.0,0.9,0.0,0.0,-121.5,38.57
43796,2020,12,31,20,30,8.0,0,0,0,7,...,131.22,0.120,1014,1.100,197.0,0.7,0.0,0.0,-121.5,38.57
43797,2020,12,31,21,30,7.8,0,0,0,7,...,142.83,0.120,1015,1.200,223.0,0.6,0.0,0.0,-121.5,38.57
43798,2020,12,31,22,30,8.1,0,0,0,7,...,153.78,0.120,1015,1.200,273.0,0.4,0.0,0.0,-121.5,38.57
43799,2020,12,31,23,30,8.3,0,0,0,7,...,162.35,0.120,1015,1.200,199.0,0.3,0.0,0.0,-121.5,38.57

In [14]:
concate_frame_details.isna().sum()

Year                                           0
Month                                          0
Day                                            0
Hour                                           0
Minute                                         0
Temperature                                    0
Clearsky DHI                                   0
Clearsky DNI                                   0
Clearsky GHI                                   0
Cloud Type                                     0
Dew Point                                      0
DHI                                            0
DNI                                            0
Fill Flag                                      0
GHI                                            0
Relative Humidity                              0
Solar Zenith Angle                             0
Surface Albedo                                 0
Pressure                                       0
Precipitable Water                             0
Wind Direction                                 0
Wind Speed                                     0
Global Horizontal UV Irradiance (280-400nm)    0
Global Horizontal UV Irradiance (295-385nm)    0
longitude                                      0
latitude                                       0
dtype: int64

In [15]:
concate_frame_details.to_csv('data/updated_data/final_all_regionF_csv.csv', index=False)

In [16]:
concate_frame_details

,Year,Month,Day,Hour,Minute,Temperature,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,...,Solar Zenith Angle,Surface Albedo,Pressure,Precipitable Water,Wind Direction,Wind Speed,Global Horizontal UV Irradiance (280-400nm),Global Horizontal UV Irradiance (295-385nm),longitude,latitude
0,2016,1,1,0,30,0.0,0,0,0,4,...,160.01,0.866,990,0.808,259.2,3.6,0.0,0.0,-78.86,42.89
1,2016,1,1,1,30,0.0,0,0,0,4,...,155.25,0.866,990,0.768,260.1,3.7,0.0,0.0,-78.86,42.89
2,2016,1,1,2,30,0.0,0,0,0,4,...,146.39,0.866,990,0.722,260.9,3.7,0.0,0.0,-78.86,42.89
3,2016,1,1,3,30,0.0,0,0,0,4,...,135.97,0.866,990,0.672,261.7,3.7,0.0,0.0,-78.86,42.89
4,2016,1,1,4,30,-1.0,0,0,0,4,...,125.04,0.866,990,0.633,261.9,3.7,0.0,0.0,-78.86,42.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43795,2020,12,31,19,30,8.4,0,0,0,7,...,119.53,0.120,1014,1.100,148.0,0.9,0.0,0.0,-121.5,38.57
43796,2020,12,31,20,30,8.0,0,0,0,7,...,131.22,0.120,1014,1.100,197.0,0.7,0.0,0.0,-121.5,38.57
43797,2020,12,31,21,30,7.8,0,0,0,7,...,142.83,0.120,1015,1.200,223.0,0.6,0.0,0.0,-121.5,38.57
43798,2020,12,31,22,30,8.1,0,0,0,7,...,153.78,0.120,1015,1.200,273.0,0.4,0.0,0.0,-121.5,38.57
43799,2020,12,31,23,30,8.3,0,0,0,7,...,162.35,0.120,1015,1.200,199.0,0.3,0.0,0.0,-121.5,38.57